NEXT_PUBLIC_SITE_URL=https://mallevo.com.br
NEXT_PUBLIC_APP_URL=https://app.mallevo.com.br
NEXT_PUBLIC_PARCEIROS_URL=https://parceiros.mallevo.com.br
NEXT_PUBLIC_ENTREGADORES_URL=https://entregadores.mallevo.com.br
